a {
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.btn {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 15px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 40px;

}

.btn:hover {
   background: #1E62D0;
   border: solid #337FED 1px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}


.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.contact-msg{
  width:40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.7rem;
  padding: 20px 0;
}

h1 {
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.hobby-pic {
  border-radius: 10%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr{
  width: 4%;
  border: dotted #EAF6F6 5px;
  border-bottom: none;
  margin: 100px auto;
}


.intro-para{
  width:30%;
  margin:auto;
}

.middle-container{
  padding: 100px 0;
}

.my-profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

p{
    line-height: 2;
}

.skill-pic {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.skill-row {
  width: 50%;
  height: 100%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-div {
  background-color: #98ddca;
  position: relative;
  padding-top: 50px;
}
